<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch"; 
  import { scaleLinear } from "d3";
  import { data3 } from "./store.js"

  onMount(async () => {      
  $data3 = await json('/data/hourly_electricity_vs_gas_december.json'); }
  ); 
  $: transformed_data = {};
  $: {
    transformed_data = {};
    $data3.forEach((d) => {
      if (!(d.week in transformed_data)) {
        transformed_data[d.week] = {};
        transformed_data[d.week]["total_electrity"] = [];
        transformed_data[d.week]["total_gas"] = [];
      }
      transformed_data[d.week]["total_electrity"].push(d.total_electrity);
      transformed_data[d.week]["total_gas"].push(d.total_gas);
    })
  }
  // Size and margins
  const leaf_width = 200;
  const leaf_height = 80
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  //scaling

  function getMax(dat){
    if (dat.length == 0){
      return [0,1];
    }
    else {
      let maxs = [];
      Object.keys(dat).forEach(key => {
        let maxH = Math.max(...dat[key]["total_electrity"]);
        maxs.push(maxH);
        let maxC = Math.max(...dat[key]["total_gas"]);
        maxs.push(maxC);
      });
      return Math.max(...maxs);
    }
  }

  $: max = getMax(transformed_data);
  $: length = 7*24;
  $: xScale = scaleLinear().domain([0, length-1]).range([0, leaf_width]);
  $: yScale = scaleLinear().domain([0, max]).range([leaf_height,0]);
  $: NegYScale = scaleLinear().domain([0, max]).range([leaf_height,2*leaf_height]);

  let pathGenerator = (d, s) => {
    let path ="M 0," + s(0);
    d.forEach((value, idx) => {
      path += " " +xScale(idx) + ',' + s(value);
    })
    path += " " + xScale(length) + ',' + s(0);
    return path
  }
  let negPathGenerator = (d, ns) => {
    let path ="M 0," + ns(0);
    d.forEach((value, idx) => {
      path += " " +xScale(idx) + ',' + ns(value);
    })
    path += " " + xScale(length) + ',' + ns(0);
    return path
  }

  $: cornerpoint = [xScale(0), yScale(0)];

</script>



<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <text x={innerWidth/2} y=20 text-anchor="middle" font-size="1.3em">Baltimore (December 2014)</text>
    <text x={innerWidth/2} y=40 text-anchor="middle" font-size="1em" class="elec">Hourly electricity per week </text>
    <text x={innerWidth/2} y=60 text-anchor="middle" font-size="1em" class="gas">Hourly gas per week </text>
    <text x={innerWidth/2 - 65} y={innerHeight-10} font-size="0.5em" class="hours">Monday, hour 0 </text>
    <text x={innerWidth/2 + 10} y={innerHeight-10} font-size="0.5em" class="hours">Monday, hour 0</text>
    <text x={innerWidth/2 + 10 + leaf_width} y={innerHeight-10} text-anchor="middle" font-size="0.5em" class = "hours">sunday, hour 23</text>
    <text x={innerWidth/2 + 10 - leaf_width} y={innerHeight-10} text-anchor="middle" font-size="0.5em" class = "hours">sunday, hour 23</text>
    <g transform="translate({innerWidth/2}, 0)">
      <!-- The stem -->
      <line x1="0" y1="75" x2="0" y2={innerHeight} style="stroke:rgb(0,0,0);stroke-width:2" />
      {#each Object.keys(transformed_data) as week, week_idx}
        <g transform="translate(0, {(leaf_height)*(5-week_idx)}) scale({Math.pow(-1,week_idx)},1) rotate(-10, {xScale(0)}, {yScale(0)})">
          <!-- The leaves -->
          <path class="elec" d={pathGenerator(transformed_data[week]["total_electrity"], yScale)}/>
          <path class="gas" d={pathGenerator(transformed_data[week]["total_gas"], NegYScale)}/>
        </g>
        <g transform="translate({Math.pow(-1,week_idx)*(leaf_width+20)}, {(leaf_height+20)*(5-week_idx)})">
          <text text-anchor="middle" font-size="0.5em">Week {week}</text>
        </g>
      {/each}
    </g>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .elec {
    stroke: none;
    fill: navy;
  }
  .gas {
    stroke: none;
    fill: darkorange;
  }
  .hours {
    stroke: none;
    fill: rgb(120, 120, 120);
  }
</style>
