<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch"; 
  import { scaleLinear } from "d3";
  import { data2 } from "./store.js"

  //inspiration from https://yangdanny97.github.io/blog/2019/03/01/D3-Spider-Chart

  onMount(async () => {      
  $data2 = await json('/data/daily_heating_cooling.json'); }
  ); 
  $: transformed_data = {};
  $: {
    transformed_data = {};
    $data2.forEach((d) => {
      if (!(d.city in transformed_data)) {
        transformed_data[d.city] = {};
      }
      if (!(d.month in transformed_data[d.city])){
        let heating = d.heating;
        let cooling = d.cooling;
        transformed_data[d.city][d.month] = [heating, cooling];
      }
      else {
        let extraHeating = d.heating;
        let extraCooling = d.cooling;
        let heating = transformed_data[d.city][d.month][0]
        let cooling = transformed_data[d.city][d.month][1]
        transformed_data[d.city][d.month] = [heating+extraHeating, cooling+extraCooling];
      }
    })
  }
  $: data_ready = {};
  $: {
    data_ready = {};
    for (let k in Object.keys(transformed_data)) {
      let city = Object.keys(transformed_data)[k];
      if (!(city in data_ready)) {
        data_ready[city] = {};
        data_ready[city]["heating"] = [];
        data_ready[city]["cooling"] = [];
      }
      for (let m in Object.keys(transformed_data[city])){
        let month = Object.keys(transformed_data[city])[m];
        data_ready[city]["heating"].push(transformed_data[city][month][0])
        data_ready[city]["cooling"].push(transformed_data[city][month][1])
      }
    }
  }
  
  // Size and margin
  const radius = 80;
  const width = 600;
  const height = 300;
  const margin = { top: 20, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const center = radius + margin.left;

  function getMax(dat){
    if (dat.length == 0){
      return [0,1];
    }
    else {
      let maxs = [];
      Object.keys(dat).forEach(key => {
        let maxH = Math.max(...dat[key]["heating"]);
        maxs.push(maxH);
        let maxC = Math.max(...dat[key]["cooling"]);
        maxs.push(maxC);
      });
      return Math.max(...maxs);
    }
  }
  

  //scaling
  $: Max = getMax(data_ready);
  $: scale = scaleLinear().domain([0, Max]).range([0, radius]);
 
  function angleToCoordinate(angle, value){
    let x = Math.cos(angle) * scale(value);
    let y = Math.sin(angle) * scale(value);
    return {"x": center - x, "y": center - y};
  }

  const features = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11];

  function getPathCoordinates(data_point){
    let coordinates = [];
    for (var i = 0; i < features.length; i++){
        let ft_name = features[i];
        let angle = (Math.PI / 2) + (2 * Math.PI * i / features.length);
        coordinates.push(angleToCoordinate(angle, data_point[ft_name]));
    }
    return coordinates;
}

let pathGenerator = (d) => {
    let path ="M";
    let co = getPathCoordinates(d)
    co.forEach((value) => {
      path += " " +value["x"] + ',' + value["y"];
    })
    path += " " +co[0]["x"] + ',' + co[0]["y"];
    return path
  }

let dotGenerator = (d, i)  => {
  let angle = (Math.PI / 2) + (2 * Math.PI * i / features.length);
  return angleToCoordinate(angle, d)
}
$: axises = [];
$: {
  axises = [];
  for (let i = 0; i < features.length; i++){
        axises.push(Max);
    }
}

$: axiscoordinates = getPathCoordinates(axises);

$: ticks = [Max, Max*3/4, Max/2, Max/4];

const months = ["", "F", "M", "A", "M", "J", "J", "A", "S", "O", "N", "D"];
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <text x={innerWidth/2} y={innerHeight-40} text-anchor="middle" font-size="1em" class="heatpoint">Heating energy each month </text>
    <text x={innerWidth/2} y={innerHeight-15} text-anchor="middle" font-size="1em" class="coolpoint">Cooling energy each month</text>
    {#each Object.keys(data_ready) as location, loc_idx}
    <g transform="translate({loc_idx*2.2*center}, 0)">
      <!-- Location titles -->
      <text x={center} y=0 font-size="heavy" text-anchor="middle">{location}</text>
    </g>
    <g transform="translate({loc_idx*2.2*center}, 20)">
      <!-- radial axises and their label -->
      {#each axises as axpoint, idx}
      <line x1={center} y1={center} x2={dotGenerator(axpoint, idx)["x"]} y2={dotGenerator(axpoint, idx)["y"]} style="stroke:rgb(220, 220, 220);stroke-width:1" />
      <g transform="scale(1.1) translate(-8, -8)">
        <text x={dotGenerator(axpoint, idx)["x"]} y={dotGenerator(axpoint, idx)["y"]} text-anchor="middle" font-size="0.5em">{months[idx]}</text>
      </g>
      {/each}
      <!-- black center dot -->
      <circle class ="centre" cx ={center} cy={center} r=1 fill=red/>
      <!-- data -->
      <path d={pathGenerator(data_ready[location]["heating"])} fill="darkorange" fill-opacity=0.5/>
      <path d={pathGenerator(data_ready[location]["cooling"])} fill="navy" fill-opacity=0.5/>
      {#each ticks as tick}
      <g transform="translate(0, -4)">
        <!-- tick titles -->
        <text x={center} y={angleToCoordinate(Math.PI / 2, tick)["y"]} text-anchor="middle" font-size="0.5em">{Math.round(tick)}</text>
      </g>
      <!-- clock circles -->
      <circle cx ={center} cy={center} r={scale(tick)} />
      {/each}
      <!-- dots -->
      {#each data_ready[location]["heating"] as datapoint, idx}
        <circle class="heatpoint" cx={dotGenerator(datapoint, idx)["x"]} cy={dotGenerator(datapoint, idx)["y"]} r=2/>
      {/each}
      {#each data_ready[location]["cooling"] as datapoint, idx}
        <circle class="coolpoint" cx={dotGenerator(datapoint, idx)["x"]} cy={dotGenerator(datapoint, idx)["y"]} r=2/>
      {/each}

        
    </g>
    {/each}
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  circle {
    stroke: black;
    fill: none;
  }
  .centre {
    stroke: none;
    fill: black;
  }
  .heatpoint{
    stroke: none;
    fill: darkorange;
  }
  .coolpoint{
    stroke: none;
    fill: navy;
  }
</style>
