<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch"; 
  import { scaleLinear } from "d3";
  import { extent } from 'd3-array';
  import Options from "./components1/_design_1_options.svelte"
  import { data1, selectedCity, selectedScale } from "./store.js"
  $: selectedLocation = $selectedCity;  
  $: Scale = $selectedScale;
  onMount(async () => {      
  $data1 = await json('/data/hourly_heating_december.json'); }
  ); 
  $: filteredData = $data1.filter(function(d){ return d.city == selectedLocation });
  $: transformed_data = {};
  $: {
    transformed_data = {};
    filteredData.forEach((d) => {
      if (!(d.buildingtype in transformed_data)) {
        transformed_data[d.buildingtype] = [];
      }
      transformed_data[d.buildingtype].push(d.total_heating_energy);
    })
  }
  
  // Size and margin
  const line_height = 40;
  const width = 600;
  $: height = Object.keys(transformed_data).length*(line_height + 5);
  const margin = { top: 20, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const textspace = 180;

  function getMinMax(dat){
    if (dat.length == 0){
      return [0,1];
    }
    else {
      return extent(dat.map((d) => d.total_heating_energy));
    }
  }
  
  function getMinMax2(transdat, key){
    if (transdat.length == 0){
      return [0,1];
    }
    else {
      return extent(Object.values(transdat[key]));
    }
  }


  function getYScales(d, s){
    let scales = [];
    let minMax = getMinMax(filteredData);
    for (const key of Object.keys(d)) {
      if (s !='Universal'){
        minMax = getMinMax2(d, key);
      }
      let yScale = scaleLinear().domain([0, minMax[1]]).range([line_height/2,0]);
      scales.push(yScale);
    }
    return scales;
  }

  function getNegYScales(d, s){
    let scales = [];
    let minMax = getMinMax(filteredData);
    for (const key of Object.keys(d)) {
      if (s !='Universal'){
        minMax = getMinMax2(d, key);
      }
      let yScale = scaleLinear().domain([0, minMax[1]]).range([line_height/2, line_height]);
      scales.push(yScale);
    }
    return scales;
  }

  // scaling
  $: length = 24*31;
  $: xScale = scaleLinear().domain([0, length-1]).range([0, width-textspace-margin.left]);
  $: yScales = getYScales(transformed_data, Scale);
  $: NegYScales = getNegYScales(transformed_data, Scale);

  let pathGenerator = (d, s) => {
    let path ="M 0," + s(0);
    d.forEach((value, idx) => {
      path += " " +xScale(idx) + ',' + s(value);
    })
    path += " " + xScale(length) + ',' + s(0);
    return path
  }

  let negPathGenerator = (d, ns) => {
    let path ="M 0," + ns(0);
    d.forEach((value, idx) => {
      path += " " +xScale(idx) + ',' + ns(value);
    })
    path += " " + xScale(length) + ',' + ns(0);
    return path
  }
//remove error
</script>

<div class="options">  <Options/> 
</div>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(transformed_data) as type, type_idx}
      <g transform="translate({width-textspace},{type_idx*(line_height+5)})">
        <text>{type}</text>
      </g>
      <g transform="translate(0,{type_idx*(line_height+5)-25})">
        <path d={pathGenerator(transformed_data[type], yScales[type_idx])}/>
        <path d={negPathGenerator(transformed_data[type], NegYScales[type_idx])}/>
      </g>
    {/each}
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  div.options {
    position: relative;
    left: 1px;
  }
  path {
    stroke: none;
    fill: black;
  }
</style>
