<script>
    import Select from 'svelte-select';
    import { cities, selectedCity, scales, selectedScale } from "../store.js"
    let items = $cities;
    let specification = $scales;
    function handleSelect1(event) {
        $selectedCity = event.detail.value;
    }
    function handleSelect2(event) {
        $selectedScale = event.detail.value;
    }


</script>

<h2>City:</h2>
<Select {items} isClearable={false} value={items[0]} on:select={handleSelect1}></Select>
<h2>Scale:</h2>
<Select items={specification} isClearable={false} value={specification[0]} on:select={handleSelect2}></Select>
