<script>
  let current = "";
</script>


<!-- We will cover buttons in week 7! -->
<button class:btn-secondary={current == "messi"} on:click={() => (current = "messi")}>
  Messi
</button>

<button class:btn-secondary={current == "ronaldo"} on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class:btn-secondary={current == "neymar"} on:click={() => (current = "neymar")}>
  Neymar
</button>

<style>
  button{
    background-color: slategrey;
    border-radius: 8px;
  }
  .btn-secondary {
    background-color: skyblue;
  }
</style>