<script>
    const list = ['playing games', 'computers', 'Chiro'];
    const me = {name: 'Jules', things: list}; 
</script>
<p>My name is {me.name} and these are my favourite things: {me.things[0]}, {me.things[1]} and {me.things[2]}.</p>