<script>
  // Properties
  let yearID = 0;
  export let data = [yearID];
  const continents = ["europe", "asia", "americas", "africa"];
</script>

<div class="row">
  <button type="button" class="btn btn-primary">Start</button>
  <button type="button" class="btn btn-primary">Reset</button>
  <input type="text" id="textInput" value={yearID+1800}>
  <input id="slider" type="range" class="form-range" min="0" max="214" step="1" bind:value={yearID}>
  <select id="continent-select" class="form-select">
    <option value="all">all</option>
    {#each continents as continent}
    <option value="{continent}">{continent}</option>
    {/each}
  </select>
  
</div>
