<script>
    export let amount = 0;
    function handleClick(event) {
		amount += 1;
	}
    function reset(event) {
		amount = 0;
	}
</script>
<header>
    <button on:click={handleClick} type="button" class="btn btn-primary">
        Clicked {amount} times
    </button>
    <button on:click={reset} type="button" class="btn btn-danger">
        Reset
    </button>
</header>
