<script>
// Dimensions
const width = 800;
  const height = 400;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "darkred";

  function getOpacity(point, index){
    let arrayIndex = points.indexOf(point, 0);
    if (index <= arrayIndex){
      return "1";
    }
    else{
      return "0.3";
    }
  }

  function countDown(){
    index -= 1;
    if (index == -1){
      color = "green";
      clearInterval(counter);
    }
  }

  let counter = setInterval(countDown, 1000);
  
</script>

<header>
  <h1>Formula 1</h1>
  <svg viewBox="0 0 {width} {height}">
    <g transform="translate({margin.left},{margin.top})">
      {#each points as point}
        <circle cx={point} cy="200" r="15" fill={color} opacity={getOpacity(point, index)}></circle>
      {/each}
      {counter}
    </g>
  </svg>
</header>

