<script>
  import { scaleLog } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
  const scale = scaleLog();
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 50, right: 10, bottom: 5, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  //scaling
  const scaleX = scaleLog().domain([2,9]).range([5, innerWidth])

  //axis
  const axis = axisBottom().scale(scaleX);
  function test(handle){
    return axis;
  }
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as datapoint}
    <circle cx={scaleX(datapoint)}
        cy={0}
        r={10} />
  {/each}
  </g>
 
</svg>

<style>
  svg {
    border: 1px;
    border-style: solid;
  }
  circle {
    fill: steelblue;
  }
</style>