<script>
  import { scaleLinear } from 'd3-scale';
  import { scaleOrdinal} from 'd3-scale';
  import { schemeDark2 } from 'd3-scale-chromatic'
  
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  // Scale
  const scaleX = scaleLinear().domain([0,9]).range([margin.left,innerWidth])
  const scaleY = scaleLinear().domain([0,3]).range([margin.top,innerHeight])
  const color = scaleOrdinal().domain(["cat1", "cat2", "cat3"]).range(schemeDark2)
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as datapoint}
    <circle cx={scaleX(datapoint.x)}
        cy={scaleY(datapoint.y)}
        r={10}
        fill={color(datapoint.category)} />
        <text x={scaleX(datapoint.x)} y={scaleY(datapoint.y)+10} class="valueLabel">{datapoint.y}</text>
  {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
