<script>
  import { scaleLinear } from 'd3-scale';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  const xTicks = ["Netflix", "Amazon Prime Video", "Disney+", "Hulu", "Apple TV", "Rakuten"];
	const yTicks = [0, 0.5, 1, 1.5, 2, 2.5, 3];

  const yScale = scaleLinear().domain([0, yTicks.length]).range([height - margin.bottom, margin.top])
  const barWidth = innerWidth / xTicks.length;
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!-- y axis -->
		<g class="axis y-axis">
			{#each yTicks as tick}
				<g class="tick tick-{tick}" transform="translate(0, {yScale(tick)})">
					<line x2="100%"></line>
				</g>
			{/each}
		</g>

		<!-- x axis -->
		<g class="axis x-axis">
			{#each data as point, i}
				<g class="tick" transform="translate(i,{height})">
				</g>
			{/each}
		</g>

		<g class='bars'>
			{#each data as point, i}
				<rect
					x="{5 + i*10}"
					y="{yScale(point.birthrate)}"
					width="{barWidth - 4}"
					height="{yScale(0) - yScale(point.service)}"
				></rect>
			{/each}
		</g>
  </g>
</svg>
